@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300&family=Playfair+Display&display=swap');
body {
  font: 300 18px/1.9 'Lato', sans-serif;
  letter-spacing: 1px;
  word-spacing: -2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
}

h3 {
  font-size: 2.33em;
}

/* Layout */
.ba-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1440px;
}

/* Typography */
a,
input[type='submit'],
input[type='button'],
button {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
}
input[type='submit'],
input[type='button'],
button,
.ba-button {
  display: inline-block;
}
input[type='submit']:hover,
input[type='button']:hover,
button:hover,
.ba-button:hover {
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='tel'],
textarea,
select {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='tel']:focus,
textarea:focus,
select:focus {
}
textarea {
}

.ba-main {
  padding: 130px 0;
}

.ba_post {
  padding: 92px 135px 92px 124px;
  box-shadow: 0 4px 68px rgba(0, 0, 0, 0.1);
}

.ba-post__title {
  margin-bottom: 30px;
}

.ba-post__content p {
  margin-bottom: 33px;
}

.ba-post__content p:first-child:first-letter {
  font-family: 'Playfair Display';
  font-size: 6.11em;
  float: left;
  line-height: 0.3;
  margin: 25px 28px 24px -3px;
}

.ba-blockquote {
  font-size: 1.33em;
  letter-spacing: 2px;
  line-height: 1;
  font-style: italic;

  margin: 0 0 41px 0;
  position: relative;
  padding: 12px 0 0 50px;
}

.ba-blockquote:before {
  content: '“';
  font-size: 70px;
  position: absolute;
  top: -18px;
  left: 0;
}

.ba-post__cta {
  display: inline-block;
  text-decoration: none;
  color: #eaa258;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  line-height: 0.52;
  border: 2px solid #eaa258;
  padding: 26px 72px;
  margin-bottom: 29px;
}

.ba-post__cta:hover {
  background: #eaa258;
  color: #fff;
}

@media screen and (max-width: 640px) {
  body {
    font-size: 16px;
  }

  .ba_post {
    padding: 20px;
  }

  .ba-post__title {
    margin-top: 0;
  }

  .ba-post__content p {
    margin-bottom: 27px;
  }

  .ba-post__footer {
    text-align: center;
  }

  .ba-post__cta {
    padding: 20px 52px;
  }
}

@media screen and (max-width: 375px) {
  body {
    font-size: 14px;
  }

  .ba-post__content p:first-child:first-letter {
    margin-right: 10px;
  }

  .ba-blockquote {
    padding-left: 20px;
  }
}
